img {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 300px;
   height: 101px;
   margin-top: -50px; /* Half the height */
   margin-left: -150px; /* Half the width */
}

a {
   text-decoration: none;
}