
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 490px;
	height: 176px;
	margin-top: -88px;
	margin-left: -245px;
}
.logo {
	width: 300px;
	display: block;
	margin: auto; 
}
a {
	text-decoration: none;
}
